# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dev now\scrapeWvuCourses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
